@using PersonalTask.Models
@{
    ViewBag.Title = "ViewArticle";
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h1 class="articleTitle text-center">@Model.Name</h1>
        <div class="text-center">
            <span class="articleDate">@Model.DateUpdated.ToLongDateString()</span>
        </div>
        <br />
        <div class="text-center">
            <span class="articleOwner">@Model.Owner.firstName.ToUpper() @Model.Owner.lastName.ToUpper() | Contributor</span>
        </div>
        <br />
        @model Article
        @if (Model.ImageLink != null)
        {
            <div class="row">
                <img src="~/Content/images/@Model.ImageLink" class="img-responsive articleImg" />
            </div>
        }
        <br />
        <div class="articleUnderlay">
            @{foreach (ArticleItem aItem in @Model.ArticleItems)
            {
                if (aItem.Type.Name == "Text")
                {
                    <p class="articleText">@Html.Raw(aItem.Paragraph)</p>
                }
                else if (aItem.Type.Name == "Image")
                {
                    <img class="img-responsive" src="~/Content/images/@aItem.Link" />
                    <br />
                }
            }

            }

        </div>
        <br />
    </div>
    <div class="col-md-2">

    </div>
</div>

